@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using DisasterAlleviationFoundation.Models;
@model IEnumerable<DisasterDisplay>

@{
    ViewData["Title"] = "Disaster display";

}

<div id="bg"></div>
<div class="b">
    <h2 class="animHead">View all Disaster data</h2> <br />
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">|Monetary donation Table </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="DisasterDisplay">|<span style="color:orange">Disaster Table</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GoodsDonationDataDisplay">|Goods Donation table</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <center>

        <h2>Disaster data </h2>
        @{int i = 1;}
        <table border="0" cellspacing="1" cellpadding="2" class="table table-hover table-striped" style="color:white">
            <tr style="color:orange">
                <th scope="col">#</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Location</th>
                <th scope="col">Desciption</th>
                <th scope="col">Required Aid</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(i++)</td>
                    <td>@item.startDate</td>
                    <td>@item.endDate</td>
                    <td>@item.location</td>
                    <td>@item.descripion</td>
                    <td>@item.requiredAid</td>
                </tr>
            }
        </table>
    </center>


</div>
